<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tody.springboot.springbootproject.mapper.BoardMapper">

    <select id="selectBoardList" resultType="hashmap">
        <![CDATA[
            SELECT 
                IDX,
                TITLE,
                WRITER,
                VIEW,
                IF(
					DATE_FORMAT(CREA_DATE, '%Y%m%d') < DATE_FORMAT(now(),'%Y%m%d'),
					DATE_FORMAT(CREA_DATE, '%Y.%m.%d'),
					DATE_FORMAT(CREA_DATE, '%H:%i')
				) as CREA_DATE
            FROM
                board_table
            WHERE
                DELETE_YN = 'N'
            ORDER BY IDX DESC
        ]]>
    </select>

    <insert id="insertBoard" parameterType="tody.springboot.springbootproject.domain.BoardVO">
        <![CDATA[
            INSERT INTO board_table
            (
                TITLE,
                CONTENT,
                WRITER,
                NOTICE,
                OPEN,
                REPLY,
                CREA_DATE
            )
            VALUES
            (
                #{ title},
                #{ content},
                #{ writer},
                #{ notice},
                #{ open},
                #{ reply},
                SYSDATE()
            )
        ]]>
    </insert>

    <select id="selectBoardDetail" parameterType="String" resultType="tody.springboot.springbootproject.domain.BoardVO">
        <![CDATA[
            SELECT 
                *
            FROM
                board_table
            WHERE
                IDX = #{ index}
        ]]>
    </select>

    <update id="updateBoard" parameterType="tody.springboot.springbootproject.domain.BoardVO">
        <![CDATA[
            UPDATE board_table
            SET
                TITLE = #{ title},
                CONTENT = #{ content},
                WRITER = #{ writer},
                NOTICE = #{ notice},
                OPEN = #{ open},
                REPLY = #{ reply},
                UPDATE_DATE = SYSDATE()
            WHERE
                IDX = #{ idx}
        ]]>
    </update>

</mapper>
