<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tody.springboot.springbootproject.mapper.BoardMapper">

    <select id="selectBoardList" resultType="hashmap">
        <![CDATA[
            SELECT 
                IDX,
                TITLE,
                WRITER,
                VIEW,
                IF(
					DATE_FORMAT(CREA_DATE, '%Y%m%d') < DATE_FORMAT(now(),'%Y%m%d'),
					DATE_FORMAT(CREA_DATE, '%Y.%m.%d'),
					DATE_FORMAT(CREA_DATE, '%H:%i')
				) as CREA_DATE
            FROM
                board_table
            WHERE
                DELETE_YN = 'N'
            ORDER BY IDX DESC
        ]]>
    </select>

</mapper>
